
/* 
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif
}

#container {
    background-color: rgb(158, 189, 189);
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.logo {
    font-size: 25px;

}

.ul {
    list-style: none;
} */

* {
    margin: 0;
    font-family: 'Roboto', sans-serif
}

body {
    background-color: #fafbfc;
}

header {
    font-size: 15px;
    padding: 10px;
    color: black;
    text-align: center;
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}


main {
    padding: 30px 50px;
}


.card {
    background-color: aliceblue;
    border: 1px solid gray;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

.lineInput {
    display: grid;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 3px;
    outline: 0;
}


button {
    border: 1px solid gray;
    padding: 10px;
    outline: 0;
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    color: black;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3s;
    
}

button:hover{
    background-image: linear-gradient(to top, #908d9b 0%, #908d9b 1%, #808080 100%);
    color: white;
}























































































































































































































































































































































































































































































































































































































































